.search-box{
    border: 2px solid black;
    background-color: darkred;
}
.search-bar{
    color: red;
    text-align: center;
}
.f1{
    height: 138px;
    width: 168px;
    background-color: #ffffff1c;
    border-radius: 4px;
    transition: 0.1s;
}
.f1:hover,.s1:hover{
    transform: scale(1.1) ;
    
}








.first-box{


    display: flex;
    gap: 5rem;
    align-items: center;
    flex-direction: column;
    padding-top:4rem;
}

.s1{
    height: 138px;
    width: 168px;
    border-radius: 4px;
    background-color: #ffffff1c;
    transition:0.2s;
    gap:5rem;
}

.secound-box{
    
    display: flex;
    gap: 5rem;
    align-items: center;
    flex-direction: column;
    padding-top:7rem;
}
.h4{
    color: chartreuse;
    display: inline;
    position: relative;
    left: 53px;
    bottom: 80px;
    overflow: hidden;
}
.img{
    position: relative;
    top: 26px;
    right: 47px;
    width: 72px;
     height:98px;
     object-fit: cover;
     display: inline;
     border-radius: 6px;
}
.text-content{
    color: #e3e3e3;
    position: relative;
    font-size: 13px;
    display: inline;
    left: 91px;
    bottom: 77px;
    
}
.button{
    color: darkgreen;
    position: relative;
    bottom: 83px;
    left: 102px;
    border-radius: 15px;
    
}






@media(min-width:500px){

    .first-box{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        
    }
    .secound-box{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }
    .search-box{
        border: 2px solid black;
    }
     .h4{
            color: chartreuse;
            display: inline;
            position: relative;
            left:33px;
            bottom: 74px;
            
        }
        .img {
            position: relative;
            top: 33px;
            right: 54px;
            width: 49px;
            height: 92px;
            object-fit: cover;
            display: inline;
            border-radius: 6px;
        }

        .text-content {
            color: #e3e3e3;
            position: relative;
            font-size: 11px;
            display: inline;
            left: 58px;
            bottom: 59px;
        }

        .button {
            color: darkgreen;
            position: relative;
            bottom: 57px;
            left: 62px;
            border-radius: 15px;
        }

      
    }
     

@media (min-width:700px){
    .text-content {
        color: #e3e3e3;
        position: relative;
        font-size: 12px;
        display: inline;
        left: 96px;
        bottom: 83px;
    }

    .img {
        position: relative;
        top: 25px;
        right: 54px;
        width: 70px;
        height: 102px;
        object-fit: cover;
        display: inline;
        border-radius: 6px;
    }

    .h4 {
        color: chartreuse;
        display: inline;
        position: relative;
        left: 53px;
        bottom: 84px;
    }
    .button {
        color: darkgreen;
        position: relative;
        bottom:81px;
        left: 98px;
        border-radius: 15px;
        
    }
}

body{
font-family: 'Roboto', sans-serif;
/* background-image: url(https://s3.amazonaws.com/html5.powershow.com/8743606/data/img0.png); */
background-repeat: no-repeat;
background-size: cover;
background-color: black;


}